*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(216, 139, 139);
}
.clock{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgb(189, 189, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 30px 30px 30px -10px rgb(25, 26, 26),
    inset 15px 15px 10px rgb(255, 255, 255),
    -15px -15px 35px rgb(220, 213, 213),
    inset  -1px -1px 10px rgb(27, 26, 26);
}
.clock::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: rgb(13, 192, 224);
    border-radius: 50%;
    z-index: 1000;
    box-shadow: 0 0 0 1px rgb(8, 144, 223),
    0 0 0 3px rgb(5, 188, 220),
    0 0 5px 5px rgb(6, 173, 215);
}
.clock .number{
    position: absolute;
    inset: 35px;
    background-color: rgb(4, 18, 95);
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgb(8, 3, 94),
    inset 5px 5px 5px rgb(146, 141, 214),
    -6px -6px 10px rgb(239, 232, 232);
}
.clock .number span{
    position: absolute;
    inset: 5px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    transform: rotate(calc(90deg * var(--i)));
}
.clock .number span b{
    font-weight: 600;
    display: inline-block;
    transform: rotate(calc(-90deg * var(--i)));
}
.clock .number::before{
    content: '';
    position: absolute;
    inset: 35px;
    background-image: linear-gradient(rgb(20, 186, 219),rgb(155, 10, 95));
    border-radius: 50%;
    animation: animate 2s linear infinite;
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.clock .number::after{
    content: '';
    position: absolute;
    inset: 40px;
    background-color: rgb(12, 6, 103);
    border-radius: 50%;
}
.clock .number .circle{
    position: absolute;
    inset: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    z-index: 10;
}
.clock .number .circle i{
    position: absolute;
    width: 3px;
    height: 50%;
    background-color: white;
    transform-origin: bottom;
    transform: scale(0.55);
}
.clock .number .circle#hr i{
    transform: scaleY(0.3);
    width: 4px;
    background-color: rgb(233, 84, 9);
}
.clock .number .circle#mn i{
    transform: scaleY(0.45);
    width: 4px;
    background-color: rgb(12, 243, 12);
}
.clock .number .circle#sc i{
    transform: scaleY(0.55);
    width: 2px;
    background-color: rgb(240, 9, 97);
    box-shadow: 0 30px 0 rgb(241, 4, 103);
}
